body {
  background-color: #B3BF99;
  color: #464457
}

p{
    font-family: monospace;
    font-size: 20px;
    color:#0D0D0D;
}

p2{
    font-family: monospace;
    font-size: 20px;
    color:#0D0D0D;
}
li{
    font-size: 25px;
    color:#0D0D0D;
    font-family: Georgia ;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}


  .blue-border {
    border-color: #87A182;
    border-style: solid;
  }
  
  .pink-background {
  background-color: #87A182;
  
}

p3{
    font-family: Georgia;
    font-size: 25px;
    color: #2C4039;
    background-color: #87A182
}
h2{
    font-family: monospace;
    color: #354024;
}